* {
    margin: 0;
    padding: 0;
}

.first {
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    height: 650px;
}

.box1 {
    position: absolute;
    top: -20px;
    left: 60px;
    width: 70px;
    height: 80px;
    z-index: 3;
}

.box1 img {
    width: 200%;
}
.music {
    position: absolute;
    left: 26px;
    top: 20px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0.69) 3px;
    background: rgba(0, 0, 0, 0.1);
}
.music img {
    width: 100%;
    height: 100%;
    position: absolute;
}
.music:last-child {
    position: absolute;
    margin-top: -6px;
    width: 2px;
    height: 2px;
}
#ban {
    display: none;
}
header {
    position: fixed;
    float: left;
    height: 70px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.nav {
    position: absolute;
    left: 230px;
}
.nav li {
    float: left;
    list-style: none;
    width: 50px;
    line-height: 70px;
    text-align: center;
    margin-right: 50px;
    letter-spacing: 5px;
}
#shouye{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    font-weight: 700;
}
.nav li a {
    display: block;
    height: 100%;
    text-decoration: none;
    font-size: 18px;
    color: rgba(240, 248, 255, 0.79);
    font-weight: 500px;
}


header ul:nth-child(2) {
    position: absolute;
    margin-left: 250px;
    z-index: 1;
}

.load a {
    float: right;
    width: 120px;
    height: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    color: rgba(240, 248, 255, 0.79);
    font-weight: 500px;
    letter-spacing: 5px;
    margin-right: 20px;
}

.system a {
    float: right;
    width: 180px;
    height: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    color: rgba(240, 248, 255, 0.79);
    font-weight: 500px;
    letter-spacing: 2px;
    margin-right: 20px;
}

.load img {
    position: absolute;
    top: 20px;
    right: 20px;
}

.system img {
    position: absolute;
    top: 20px;
    right: 150px;
}

header ul li a:hover {
    color: rgb(240, 255, 254);
    text-shadow: 0px 0px 20px white;
}

.system a:hover {
    color: rgb(240, 255, 254);
    text-shadow: 0px 0px 20px white;
}

.load a:hover {
    color: rgb(240, 255, 254);
    text-shadow: 0px 0px 20px white;
}

.load img:hover {
    color: rgb(240, 255, 254);
    box-shadow: 0px 0px 20px white;
}

.system img:hover {
    color: rgb(240, 255, 254);
    box-shadow: 0px 0px 20px white;
}

.qisheng {
    float: right;
    margin-top: 90px;
}

.shiling {
    position: absolute;
    left: 10px;
    bottom: 40px;
    width: 100px;
    height: 120px;
}

.shiling img {
    width: 100%;
    height: 100%;
}

.warn {
    position: absolute;
    float: left;
    width: 100%;
    z-index: 100;
    display: none;
    background-color: rgb(76, 76, 177);
    background: rgba(0, 0, 0, 0.5);
}

.warn :first-child {
    margin-left: 170px;
    height: 85%;
    width: 800px;
    background-color: brown;
}

.warn :last-child {
    position: absolute;
    width: 54px;
    height: 54px;
    margin-top: 0;
     background-color: rgb(134,109,75);
} 

.pic img {
    position: absolute;
    left: 360px;
    bottom: 50px;
    width: 110px;
    height: 110px;
}

.load1 img {
    position: absolute;
    left: 480px;
    bottom: 106px;
}

.load2 img {
    position: absolute;
    left: 480px;
    bottom: 47px;
}

.load3 {
    position: absolute;
    left: 650px;
    bottom: 102px;
}

.load4 {
    position: absolute;
    left: 650px;
    bottom: 43px;
}

.load5 img {
    position: absolute;
    left: 820px;
    bottom: 47px;
    height: 115px;
    width: 115px;
}

/* 开始第二部分 */
.second {
    position: relative;
    background-image: url(../image/风景.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    height: 750px;
}

h1 {
    position: absolute;
    top: 140px;
    left: 50%;
    font-size: 50px;
    color: white;
    margin-left: -80px;
    font-weight: 450;
}

.xinwen {
    float: left;
    position: absolute;
    top: 250px;
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
}

.xinwen img {
    float: left;
    height: 100%;
    cursor: pointer;
}

.xinh {
    float: left;
    width: 40%;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
}

.xinh ul li {
    position: relative;
    float: left;
    display: block;
    height: 100%;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 500px;
    margin-left: 40px;
    margin-bottom: -5px;
}
.xinh ul li:hover {
    cursor: pointer;
}
.xinh ul:first-child {
    margin-left: -5px;
    color: rgba(255, 255, 0, 0.381);
}

.x1,
.x2,
.x3,
.x4,
.x5 {
    float: left;
    width: 530px;
    height: 54px;
    margin-left: 30px;
    line-height: 54px;
    color: white;
    border-top: 3px solid rgba(255, 255, 255, 0.149);
    text-indent: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.x5 {
    border-bottom: 3px solid rgba(255, 255, 255, 0.149);
}

.x1 :hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.07);
}

.x2 :hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.07);
}

.x3 :hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.07);
}

.x4 :hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.07);
}

.x5 :hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.07);
}

.more {
    float: right;
    width: 120px;
    height: 40px;
}

.more a {
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: white;
}

.more a:hover {
    color: rgba(0, 255, 115, 0.481);
}

.mengde,
.liyue,
.daoqi,
.xumi {
    width: 100%;
    height: 300px;
   overflow: hidden;
}

.mengde img,
.liyue img,
.daoqi img,
.xumi img {
    cursor: pointer;
	/* 手指指针 */
	transition: all 0.4s;
	/* 浮动；所有属性，0.5秒 */
	overflow: hidden;
	/* 溢出隐藏 */
    position: relative;
    object-fit: cover;

object-position: center;

}
.mengde img:hover,
.liyue img:hover,
.daoqi img:hover,
.xumi img:hover
{
    transform: scale(1.04);
	/* 变形：缩放，放大比例(1.1) */
	overflow: hidden;
	/* 溢出隐藏 */

}
.mengde:hover,
.liyue:hover,
.daoqi:hover,
.xumi:hover {  
    box-shadow: 3px -3px rgb(0, 128, 111) ;
}
.mengde span,
.liyue span,
.daoqi span,
.xumi span {
    position: absolute;
    text-align: center;
    line-height: 300px;
    margin-left: 46%;
    font-size: 40px;
    color: white;
    z-index: 4;
}

footer {
    width: 100%;
    height: 380px;
    background-color: black;
}

.mi {
    float: left;
    width: 130px;
    height: 50px;
    margin-left: 30px;
    margin-top: 150px;
}

.mi img {
    width: 100%;
    height: 100%;
}

footer p {
    float: left;
    color: rgba(255, 255, 255, 0.638);
    font-size: 30px;
    margin-top: 150px;
    margin-left: 30px;
}

.yuan {
    float: left;
    width: 130px;
    height: 90px;
    margin-left: 30px;
    margin-top: 130px;
}

.yuan img {
    width: 100%;
    height: 100%;
}

.content {
    float: left;
    width: 800px;
    height: 300px;
    margin-top: -60px;
    margin-left: 20px;
}

footer div p {
    line-height: 23px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.66);
}